@model IEnumerable<ALTA_BE_BT2.Models.Role>

@{
    ViewData["Title"] = "Roles";
}

<h1>Roles</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoleId" class="btn btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.RoleId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>